- name: ruby configs
  file: src={{ playbook_dir }}/{{ item }} dest=~/.{{ item }} state=link force=yes
  with_items:
    - pryrc
  tags: ruby

- name: .gitconfig
  file: src={{ playbook_dir }}/gitconfig dest=~/.gitconfig state=link force=yes
  tags: git
  
- name: .gitignore_global
  file: src={{ playbook_dir }}/gitignore dest=~/.gitignore_global state=link force=yes
  tags: git

- name: .bash_profile
  blockinfile:
    dest: ~/.bash_profile
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    state: present
    create: yes
    backup: yes
    content: |
      export EDITOR=emacs
      source ~/.git_prompt.sh
      export PS1='\u @ \W$(__git_ps1 " (%s)") Î» '
      alias em='emacs'
      function jcurl() {
        curl "$@" | json | pygmentize -l igor
      }
      export -f jcurl
  tags: bash
